@font-face {
    font-family: 'Karnak';
    src: url('../../assets/fonts/karnakcondensed-normal-700.woff');
    font-weight: 700;
}

$font-stack: "Avenir", sans-serif;
$root-font-size: 40px;
$root-font-size-mobile: 38px;